

<div id="selectbox">
	<%= select(:stock, :ticker, @stocks, prompt: 'ABBV') %>
</div>

<!-- selectbox search field -->
<script>
	(function($){
	    $(function(){
	        $('select').selectToAutocomplete();
	        $('form').submit(function(){
	            alert( $(this).serialize() );
	            return false;
	        });
	    });
	})(jQuery);
</script>
<!-- selectbox search field end-->