

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


<div id="selectbox">
	<%= select(:stock, :ticker, @stocks, prompt: 'ABBV') %>
</div>


<div class="company_info">
	<ul>
		<li><span>Company Name:</span> <%= @stock.company_name %></li>

		<li><span>Ticker:</span> <%= @stock.ticker %></li>
		
		<li><span>Description:</span> <%= @stock.description %></li>
	</ul>
</div>


<!-- selectbox search field -->
<!-- // script>
// 	(function($){
// 	    $(function(){
// 	        $('select').selectToAutocomplete();
// 	        $('form').submit(function(){
// 	            alert( $(this).serialize() );
// 	            return false;
// 	        });
// 	    });
// 	})(jQuery);
// /script -->
<!-- selectbox search field end-->
