
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


<%= render "search_box" %>


<div class="company_info">
	<ul>
		<li><span>Company Name:</span> <%= @stock.company_name %></li>

		<li><span>Ticker:</span> <%= @stock.ticker %></li>
		
		<li><span>Description:</span> <%= @stock.description %></li>

		<li><button id="start_button" type="button">Start</button></li>
	</ul>


</div>



