/*// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

svg {
	float: left;
}

span {
	font-weight: bold;
}

.company_info {
	width: 500px;
	/*border: 1px dashed;*/
	margin: 140px 0px 0px 550px;
	position: absolute;
	float: left;
	border-left: 1px solid;
	font-family: 'Open Sans Condensed', sans-serif;
}

.company_info ul li {
	list-style-type: none;
	margin-top: 13px;
}

#start_button {
 		width: 80px;
    background: none;
    cursor: pointer;
    font-family: 'voltaeftu-regular',Times New Roman;
    font-size: 16px;
    border: 1px solid gray;
    color: #2ecc71;
    margin-left: 0px;
    padding: 0px;
}


/*select box*/
	#selectbox {
	  padding: 10px;
	  background-color:#003540;
	  width: 200px;
	  position: absolute;
	  top: 0;
	  right: 0;
	}

	.ui-autocomplete {
	  font-size: 14px;
	  padding: 0;
	  list-style: none;
	  background-color: #fff;
	  width: 200px;
	  border: 1px solid #B0BECA;
	  max-height: 350px;
	  overflow-y: scroll;
	}

	.ui-autocomplete-input {
	   background: url(magnifying_glass.png) no-repeat 6px 4px #fcfcfc;
	   border: none;
	   color: #444;
	   /*font-family: $marketing-font;*/
	   font-size: 13px;
	   font-weight: bold;
	   margin-bottom: 3px;
	   width: 152px;
	   padding: 6px 15px 6px 35px;
	   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	   -webkit-transition: all 0.7s ease 0s;
	   -moz-transition: all 0.7s ease 0s;
	   -o-transition: all 0.7s ease 0s;
	   transition: all 0.7s ease 0s;
	}

    .ui-autocomplete .ui-menu-item a {
	  border-top: 1px solid #B0BECA;
	  display: block;
	  padding: 4px 6px;
	  color: #353D44;
	  cursor: pointer;
	}
    
	.ui-autocomplete .ui-menu-item:first-child a {
 	  border-top: none;
	}

	.ui-autocomplete .ui-menu-item a.ui-state-hover {
      background-color: #D5E5F4;
      color: #161A1C;
	}

	#country-info {
		text-align: center;
		font-size: 22px;
		font-weight: bold;
	}
	/*select box end*/


