/*// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


body {
	background: url('/images/nyc.jpg');
	z-index: -9999;
	margin: 0px;
}

svg {
	float: left;
	position: absolute;
	/*display: inline-block;*/
	clear: both;
	width: 100%;
	z-index: -99999;
}

img {
	width: 90px;
}

span {
	font-weight: bold;
}

#home-body {
	top: 0px;
	width: 100%;
	height: 100%;
	background: url('/images/nyc.jpg');
}

#home {
	width: 400px;
	height: 200px;
	background-color: #383838;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#logo-box {
	width: 200px;
	/*border: 1px dashed;*/
	padding: 1px;
	margin: auto;
}

#rhino {
	float: left;
	margin: 10px 0px 0px 0px;
}

#logo {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin: -12px auto;
}

#home-selectbox {
	width: 202px;
	height: 50px;
	border-radius: 5px;
	/*border: 1px solid;*/
	margin: 0px auto;
}

.company_info {
	color: white;
	width: 520px;
	margin: 140px 0px 0px 550px;
	position: absolute;
	float: right;
	/*border-left: 1px solid;*/
	font-family: 'Open Sans Condensed', sans-serif;
	clear: both;
	background-color: #383838;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.company_info ul li {
	list-style-type: none;
	margin-top: 13px;
}

#start_animation {
 		width: 80px;
    background: none;
    cursor: pointer;
    font-family: 'voltaeftu-regular',Times New Roman;
    font-size: 16px;
    border: 1px solid gray;
    color: #fff;
    margin-left: 0px;
    padding: 0px;
}


/*select box*/
	#selectbox {
	  padding: 10px;
	  display: inline-block;
	  /*background-color:#003540;*/
	  width: 200px;
	  position: absolute;
	  top: 0;
	  right: 0;
	}

	#selectbox-one {
	  padding: 10px;
	  display: inline-block;
	  /*background-color:#003540;*/
	  width: 200px;
	  position: absolute;
	  float: left;
	  top: 0;
	  right: 0;
	}

	#selectbox-two {
	  padding: 10px;
	  display: inline-block;
	  /*background-color:#003540;*/
	  width: 200px;
	  position: absolute;
	  float: left;
	  top: 0;
	  left: 0;
	}

	.ui-autocomplete {
	  font-size: 14px;
	  padding: 0;
	  list-style: none;
	  background-color: #fff;
	  width: 200px;
	  border: 1px solid #B0BECA;
	  max-height: 350px;
	  overflow-y: scroll;
	  position: absolute;
	}

	.ui-autocomplete-input {
	   /*background: url(magnifying_glass.png) no-repeat 6px 4px #fcfcfc;*/
	   border: none;
	   border-radius: 5px;
	   color: #aaa;
	   font-family: 'Lato', sans-serif;
	   font-size: 13px;
	   font-weight: bold;
	   margin-bottom: 3px;
	   width: 152px;
	   height: 30px;
	   padding: 6px 15px 6px 35px;
	   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	   -webkit-transition: all 0.7s ease 0s;
	   -moz-transition: all 0.7s ease 0s;
	   -o-transition: all 0.7s ease 0s;
	   transition: all 0.7s ease 0s;
	}

    .ui-autocomplete .ui-menu-item a {
	  border-top: 1px solid #B0BECA;
	  display: block;
	  padding: 4px 6px;
	  color: #353D44;
	  cursor: pointer;
	  background-color: #fff;
	}
    
	.ui-autocomplete .ui-menu-item:first-child a {
 	  border-top: none;
	}

	.ui-autocomplete .ui-menu-item a.ui-state-hover {
      background-color: #D5E5F4;
      color: #161A1C;
	}
	/*select box end*/


